<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416788351953-jktpvg7pgoe0csa6dr12mshneh3q7hcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416788351953-jktpvg7pgoe0csa6dr12mshneh3q7hcg</string>
	<key>API_KEY</key>
	<string>AIzaSyD5p9-uZerNE2GTng0LmmlBUTw6tkZN-84</string>
	<key>GCM_SENDER_ID</key>
	<string>416788351953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floricultura</string>
	<key>PROJECT_ID</key>
	<string>floricultura-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>floricultura-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416788351953:ios:200a25f2e042c1958a6ef0</string>
</dict>
</plist>